#board {
  background-color: #42b39e;
  height: 100vh;
  width: 100vw;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 25% 50% 25%;
      grid-template-columns: 25% 50% 25%;
  -ms-grid-rows: 25% 50% 25%;
      grid-template-rows: 25% 50% 25%;
}

#piles {
  background-color: #01edc1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 5% 35% 20% 35% 5%;
      grid-template-columns: 5% 35% 20% 35% 5%;
  -ms-grid-rows: 5% 10% 70% 10% 5%;
      grid-template-rows: 5% 10% 70% 10% 5%;
}

#piles #drawPile {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -ms-grid-row: 2;
  -ms-grid-row-span: 3;
  grid-row: 2/5;
  background-image: url("./cardBack.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#piles #dropedPile {
  -ms-grid-column: 4;
  -ms-grid-column-span: 1;
  grid-column: 4/5;
  -ms-grid-row: 2;
  -ms-grid-row-span: 3;
  grid-row: 2/5;
  background-image: url("./cardBack.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#yanivBtn {
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3/4;
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3/4;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 5% 90% 5%;
      grid-template-columns: 5% 90% 5%;
  -ms-grid-rows: 20% 60% 20%;
      grid-template-rows: 20% 60% 20%;
}

#yanivBtn button {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  background-image: url("./yanivButton.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#player1 {
  -ms-grid-row: 1;
  -ms-grid-row-span: 3;
  grid-row: 1/4;
  -ms-grid-column: 1;
  grid-column: 1;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 5% 90% 5%;
      grid-template-columns: 5% 90% 5%;
  -ms-grid-rows: 10% 80% 10%;
      grid-template-rows: 10% 80% 10%;
}

#player2 {
  -ms-grid-row: 1;
  grid-row: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
}

#player3 {
  -ms-grid-row: 1;
  -ms-grid-row-span: 3;
  grid-row: 1/4;
  -ms-grid-column: 3;
  grid-column: 3;
}

#player4 {
  -ms-grid-row: 3;
  grid-row: 3;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
}

#startNewGame {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  z-index: 1;
  background-color: #01edc1;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 33% 33% 33%;
      grid-template-columns: 33% 33% 33%;
  -ms-grid-rows: 10% 10% 10% 10% 10% 10% 10% 10% 10% 10%;
      grid-template-rows: 10% 10% 10% 10% 10% 10% 10% 10% 10% 10%;
}

#startNewGame select {
  -ms-grid-row: 7;
  -ms-grid-row-span: 1;
  grid-row: 7/8;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
}

#startNewGame #helloMessage {
  font-family: "Times New Roman", Times, serif;
  text-align: center;
  -ms-grid-row: 2;
  -ms-grid-row-span: 4;
  grid-row: 2/6;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
}

#startNewGame button {
  -ms-grid-row: 9;
  -ms-grid-row-span: 1;
  grid-row: 9/10;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
}
/*# sourceMappingURL=card.css.map */