#board {
  background-color: rgb(66, 179, 158);
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-columns: 25% 50% 25%;
  grid-template-rows: 25% 50% 25%;
}

#piles {
  background-color: rgb(1, 237, 193);
  grid-column: 2/3;
  grid-row: 2/3;
  display: grid;
  grid-template-columns: 5% 35% 20% 35% 5%;
  grid-template-rows: 5% 10% 70% 10% 5%;

  #drawPile {
    grid-column: 2/3;
    grid-row: 2/5;
    background-image: url("./cardBack.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  #dropedPile {
    grid-column: 4/5;
    grid-row: 2/5;
    background-image: url("./cardBack.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}

#yanivBtn {
  grid-column: 3/4;
  grid-row: 3/4;
  display: grid;
  grid-template-columns: 5% 90% 5%;
  grid-template-rows: 20% 60% 20%;

  button {
    grid-column: 2/3;
    grid-row: 2/3;
    background-image: url("./yanivButton.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}

#player1 {
  grid-row: 1/4;
  grid-column: 1;
  display: grid;
  grid-template-columns: 5% 90% 5%;
  grid-template-rows: 10% 80% 10%;
  display: flex;
  flex-direction: column;

  #card {
    transform: rotate(270deg);
    height: 40%;
    width: 20%;
    margin: auto;
  }
}

#player2 {
  grid-row: 1;
  grid-column: 2/3;
  display: grid;
  grid-template-columns: 5% 90% 5%;
  grid-template-rows: 10% 80% 10%;
  display: flex;
  flex-direction: row;

  #card {
    height: 60%;
    width: 15%;
    margin: auto;
  }
}

#player3 {
  grid-row: 1/4;
  grid-column: 3/4;
  display: flex;
  flex-direction: column;

  #card {
    height: 40%;
    width: 20%;
    transform: rotate(270deg);
    margin: auto;
  }
}

#player4 {
  grid-row: 3;
  grid-column: 2/3;
  display: grid;
  grid-template-columns: 5% 90% 5%;
  grid-template-rows: 10% 80% 10%;
  display: flex;

  #card {
    height: 60%;
    width: 15%;
    margin: auto;
  }
}

#startNewGame {
  grid-column: 2/3;
  grid-row: 2/3;
  z-index: 1;
  background-color: rgb(1, 237, 193);
  display: grid;
  grid-template-columns: 33% 33% 33%;
  grid-template-rows:
    10% 10% 10% 10%
    10% 10% 10% 10% 10% 10%;
  select {
    grid-row: 7/8;
    grid-column: 2/3;
  }
  #helloMessage {
    font-family: "Times New Roman", Times, serif;
    text-align: center;
    grid-row: 2/6;
    grid-column: 2/3;
  }
  button {
    grid-row: 9/10;
    grid-column: 2/3;
  }
}
